.additionalTechnologies-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.additionalTechnologies-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 20px;
}

.additionalTechnologies-icon{
font-size: 16px !important;
}

.additionalTechnologies-list > li {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

.additionalTechnologies-list > li > span {
    margin-left: 10px;
}

.additionalTechnologies-heading {
    color: #8C61D6;
    font-size: 18px;
    margin-top: 20px;
}

.additionalTechnologies-container p {
    width: 300px;
    font-size: 14px;
    margin-top: 20px;
}


@media (min-width: 768px) {

    .additionalTechnologies-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .additionalTechnologies-icon{
        font-size: 36px !important;
    }
    
    .additionalTechnologies-list{
        margin: 0 auto;
    }

    .additionalTechnologies-list > li {
        flex-basis: calc(33.33% - 40px);
        font-size: 22px;
        margin-top: 40px;
    }

    .additionalTechnologies-heading {
        font-size: 36px;
        margin-top: 40px;
    }

    .additionalTechnologies-container p {
        width: 100%;
        font-size: 22px;
        margin-top: 40px;
    }
}
